<section class="container splash">
  <div class="mb-5 rounded-0">
    <h1 class="display-1 title fw-bold fst-italic text-center mb-5">
        BudgetScan
    </h1>
  </div>
  <div class="mt-5">
    <%= link_to 'LOG IN', user_session_path, class: 'btn btn-primary w-100 my-3 p-3' %><br>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-primary w-100 mb-4 p-3' %>
  </div>
</section>