<%= form_with(model: group) do |f| %>
    <div class="my-3 px-3">
        <%= f.text_field :name, class: 'form-control', placeholder: "Category Name", require: true, class: 'w-100 bg-gray-100 p-2' %>
    </div>
    <div class="my-3 px-3">
        <%= f.select :icon, {"🛒" => "https://cdn-icons-png.flaticon.com/512/891/891462.png", "🎮" =>"https://cdn-icons-png.flaticon.com/512/808/808439.png", "🚌" => "https://cdn-icons-png.flaticon.com/512/1034/1034795.png","💄"=>"https://img.icons8.com/external-wanicon-flat-wanicon/344/external-make-up-beauty-cosmetics-wanicon-flat-wanicon.png"}, {}, class: 'form-control w-100 bg-gray-100 p-2' %>
    </div>
    <div class="form-group">  
        <%= f.submit "Save Category", class: "btn btn-primary" %>
    </div>
<% end %>

