
<section class="text-center vh-100">
    <%= render "shared/header", page_title: "Transactions" %>   

    <% if flash.notice %>
        <p class="notice"><%= notice %></p>
    <% end %>

    <div class="">
        <% if @groups.any?%>
            <% @groups.each do |group| %>
                <%= render group %>
            <% end %>
        <% else %>
            <p class="p-2 m-2 h3">There is no category added!!!</p>
        <% end %>            
    </div>

    <%= render "shared/footer", link_text: "Add a new category", link_url: new_group_path %>
</section>
