<header class="header--sec">
    <%= link_to "javascript:history.back()" do %>
        <i class="fa fa-arrow-left text-white"></i>
    <%end%>
    <p class="text-uppercase justify-content-center"><%=page_title%></p>
    <div class="justify-content-end pe-3">
    <%= link_to groups_path do %>
        <i class="fa fa-home text-white"></i>
    <%end%>
    </div>
</header>