@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-pri: #3778c2;
  --color-sec: #5fb523;
  --color-txt: #434b54;
  --color-v1: #f5f5f5;
  --color-v2: #f0f2f1;
  --color-v3: #fff;
  --bs-btn-bg: var(--color-pri);
  --bs-btn-hover-bg: var(--color-var3);
  --bs-btn-hover-color: var(--color-pri);
}

body {
  background-color: var(--color-v1);
  color: var(--color-txt);
  font-family: 'Proxima Nova', sans-serif !important;
}

.notice { color: var(--color-sec); }

.def__txtColor { color: var(--color-txt); }

.bg__prime {
  background-color: var(--color-pri);
}

.bg__sec {
  background-color: var(--color-sec);
}

:is(h1, h2, h3, h4, h5, .right__link) {
  font-weight: 700;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 100vh;
  background-color: var(--color-v2);
}

.btn-primary {
  --bs-btn-bg: var(--color-pri);
  --bs-btn-hover-bg: var(--color-var3);
  --bs-btn-hover-color: var(--color-pri);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 0.5em;
}

.card img {
  width: 90px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.w__100 {
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  background-color: var(--color-pri);
  color: var(--color-v3);
  width: 100%;
  padding: 1em;
  align-items: center;
}

header > * {
  display: flex;
  align-items: center;
  margin: 0;
}
