/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima-nova-light", sans-serif;
}

:root {
  --color-pri: #3778c2;
  --color-sec: #5fb523;
  --color-txt: #434b54;
  --color-v1: #f5f5f5;
  --color-v2: #f0f2f1;
  --color-v3: #fff;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('Proxima-Nova.otf');
}

body {
  background-color: var(--color-v1);
  color: var(--color-txt);
}

:is(h1, h2, h3, h4, h5) {
  font-family: "proxima-nova-bold", sans-serif;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 100vh;
  background-color: #f0f2f1;
}

.btn-primary {
  --bs-btn-bg: var(--color-pri);
  --bs-btn-hover-bg: var(--color-var3);
  --bs-btn-hover-color: var(--color-pri);
}

.back_btn img {
  width: 30px;
  height: 30px;
  color: #fff;
}
